body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100%
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size:5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-color: grey;
  border-width: 7px;
}
/**************CLASS EDITOR**************/

.cloud-1 {
  position: absolute;
  top: 50px;
  right: 20%;

}

.cloud-2 {
  position: absolute;
  left: 20%;
}

.top_container {
  background-color: #E4F9F5;
  padding-top: 150px;
  position: relative;

}

.pro {
  text-decoration: underline;
}

.about-me  {
  width: 60%;
  margin: 60px auto 60px auto;
  font-size: 125%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.web-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ps {
  width: 20%;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
}

.ps-about {
  text-align: right;
}

.contact-me {
  width: 50%;
  margin: 30px auto 30px auto;
}

.btn {
  margin-top: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 12px;
  background: #11adad;
  text-decoration: none;
}

.btn:hover {
  background: #20e1fa;
  text-decoration: none;
}

.contact-explained {
  margin-bottom:30px;
  margin-top: 30px;
  line-height: 2
}

.bottom-container{
  width: 100%;
  background-color: #66BFBF;
  padding: 70px 0 70px 0;
  margin-top: 70px;
  position: relative;
}

.footer-link {
  padding: 0 10px 0 10px;
  font-size: 1em;
}

.footer-img{
  width: 7%;
  margin-bottom: 50px;
  text-decoration: none;
}

.© {
  color: #EAF6F6;
  font-size: 20px;

}
